.container#hero-unit{ style: "background: url(#{ image_path('rails4payment/bay-bridge.jpg') }) no-repeat center bottom" }
  .row
    .col-xs-12
      %h1.text-center
        New to Ruby on Rails? Launch a site like this in 10 minutes
    .well.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %p
        A blank canvas can be intimidating, even if learning Rails is something
        you've wanted to do for years. With
        %i Rails 4 Payment
        you'll start with a web site like this one in under 10 minutes.
      %p
        Sign up to be notified when the Rails 4 Payment starter project is available:
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
        = render 'rails4payment/shared/signup_form',
                  generate_password: true,
                  autofocus: true,
                  cta: raw('Get Started For Free &raquo;')

.container#bootstrap
  .row
    .col-xs-12
      %h2 Leverage Twitter's Bootstrap 3.0
        
  .row
    .col-sm-6.col-xs-12
      = image_tag "rails4payment/home/welcome/logo-bootstrap-html-css.png"
    .col-sm-6.col-xs-12
      %p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.

.container#stripe
  .row
    .col-xs-12
      %h2 Start taking payments immediately with Stripe

  .row
    .col-sm-7.col-xs-12
      %p Stripe makes it easy to start accepting credit cards on the web today
      %ul
        %li 2.9% + $.30 per transaction
        %li Stripe stores card number and gives you a secure token
        %li Quick and easy to switch between test and live mode
    .col-sm-4.col-sm-offset-1.col-xs-12
      %h4.text-center Used by these companies
      = image_tag "rails4payment/home/welcome/logo-stripe-users.jpg"


.container#common-modules
  .row.well
    .col-xs-12
      %h2 Launch your Ruby on Rails site in just minutes. Start now!
    .col-md-4.col-md-offset-1.col-sm-12
      = render 'rails4payment/shared/payment_form', amount: 7, cta: raw('Take the First Step &raquo;')
    .col-md-6.col-md-offset-1
      %h4
        It's never been easier to set up a Ruby on Rails web site. You'll
        have your first version live on the internet in just three easy steps:
      %ol
        %li Download `rails4payment` gem
        %li Follow the #{ link_to 'install script', '#' }
        %li Deploy to Heroku

.container
  .row
    .col-xs-12
      %h2 Bootstrapped Essential Pages
      %h4
        Rails 4 Payment includes basic user management pages
  .row
    %a{ href: new_user_session_path }
      = image_tag 'rails4payment/sign-in-screenshot.jpg', class: 'col-sm-6 col-xs-12'
    %a{ href: new_user_registration_path }
      = image_tag 'rails4payment/sign-up-screenshot.jpg', class: 'col-sm-6 col-xs-12 '

.container#google-analytics
  .row
    = image_tag 'rails4payment/ga-screenshot.jpg', class: 'col-sm-6 col-xs-12'
    .col-sm-6.col-xs-12
      %h2 Google Analytics
      %ul
        %li Monitor traffic
        %li Link to AdWords
        %li Set up conversion goals

.container#heroku
  .row
    .col-xs-12
      %h2 Use Heroku and stop worrying about web hosting

  .row
    .col-sm-5.col-xs-12.text-center
      %br
      %br
      %br
      = image_tag "rails4payment/home/welcome/logo-heroku.png"
    .col-sm-7.col-xs-12
      %p
        Deliver apps, the right way.
        Cloud computing designed and built for developers.
      %ul
        %li Free tier sufficient for small web sites
        %li Makes running a Rails App "foolproof"
        %li Commonly used among Rails developers

.container#common-modules
  .row
    .col-md-6
      %h2
        Start with an existing project
      %br
      %ul
        %li Learn by modifying
        %li Use included components
        %li Avoid common mistakes
        %li Save time

    .col-md-4.col-md-offset-1
      %h4.text-center Example Signup Form
      %h5.text-center Just one of many included forms
      = render 'rails4payment/shared/signup_form'
